.pagination {
    display: inline-block;
  }
  
  .pagination button {
    color:#333;
    float: left;
    padding: 5px 16px;
    text-decoration: none;
    border-style: none;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: inherit;
  }
  
  .pagination button.active {
    background-color: #f79918;
    color: white;
    border-radius: 0.2rem;
  }
  
  .pagination button:hover:not(.active) {
    background-color: #ddd;
    border-radius: 0.2rem;
  }

  .previous, .next {
      color: #161621;
  }