.b-tag {
  background: #fff4d7;
  border-radius: 50px;
  outline: none;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 146.69%;
  color: #000000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-icon {
  margin: 0 5px;
}
