.h-wrapper {
  width: 100%;
}
.h-container {
  width: 100%;
}
.h-row {
  width: 100%;
}
.h-button {
  background-color: #ffb800;
  color: black;
  border-radius: 4px !important;
  font-size: 0.875rem;
}
.banner-img-wrapper {
  width: 100%;
}
.banner-img {
  width: 100%;
}

@media only screen and (max-with: 768px) {
  .h-button-wrapper {
    display: none !important;
  }
}