.header-wrapper {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: space-between;
    padding: 0px 100px;
}

.custom-menu-list {
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    border-right: 2px solid #FFB800;
    padding: 0px 14px;
    color: #393939;
}
.custom-active {
    color: #f79918;
    font-weight: 600;
    font-size: 16px;
    border-right: 2px solid #FFB800;
    padding: 0px 14px;
}
.header-link {
    text-decoration: none;
    color: black; 
}
.header-ul {
    display: flex;
    list-style: none;

}
@media only screen and (max-width: 786px) {
    
}