.question-modal {
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: #F3F2F2;
    box-shadow: 0px 2px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 50px 20px 20px 20px;
    width: 30%;
}

.modal-display {
    display: flex;
    align-items: center;
}

.modal-display img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.modal-display p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 178.19%;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.modal-btn {
    background-color: #FFB800;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}



@media only screen and (max-width: 768px) {
    .question-modal {
        top: 50%;
        right: 20%;
        padding: 20px;
        width: 50%;
    }        
}

@media screen and (max-width: 426px) {
.question-modal {
    right: 10%;
    padding: 20px;
    width: 70%;
}    
.modal-display p{
    font-size: 12px;
}

.modal-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-display img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.modal-display p{
    font-size: 14px;
}
}