/* .sb-search-wrapper > p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 0px 10px 0px;
} */
.sb-catergory-wrapper > h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.sb-wrapper {
    margin: 50px 0px;
}
.sb-catergory-wrapper > ul{
    padding: 0px;
}
.sb-catergory-wrapper > ul >li{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.sb-recommended-wrapper > h3 {
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.sb-category {
    list-style: none;
    font-family: 'Work Sans', sans-serif;
} 
.sb-recently-viewed-wrapper > h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.sb-recommended-content {
    width: 100%;
}
.sb-row-recommended {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    
}