.sb-container {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}
.sb-data-wrapper {
    display: flex;
}
.socials-icons-wrapper {
    display: flex;
}
.sb-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
}
.sb-data-wrapper {
    display: flex;
    justify-content: space-between;
}
.sb-author-wrapper {
    display: flex;
    align-items: center;
}
.sb-author {
    font-size: 18px;
    font-weight: 500;
    color: #FFB800;
}
.sb-date, .sb-read-min {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
}
.sb-text-wrapper > p{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

@media only screen and (max-width: 492px) and (max-width: 768px) {
    
}