.word-field input,
.word-field select {
    background: #FFFFFF;
    border: 1.5px solid #FFF0E3;
    border-radius: 3px;
   width: 100%;
   min-height: 46px;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 15px;
}

.word-field input::placeholder {
    color: #7a828a;
}

.word-label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 146.69%;
    margin-bottom: 10px !important;
}

.word-field small {
   font-style: normal;
   font-weight: normal;
   font-size: 11px;
   color: #718096;
}

.word-field > i {
   display: block;
   font-style: normal;
   font-weight: normal;
   font-size: 11px;
   color: var(--danger);
}

.password-space {
   position: relative;
}

.password-space span {
   position: absolute;
   right: 14px;
}

.password-space input {
   padding-right: 40px;
}
