.bc-col {
    display: flex;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    border-bottom: 1px solid #CFC7C7;
    padding: 30px 0px;
}
.bc-header {
    margin: 0px;
    color: #000;
    font-weight: 600;
    font-size: 34px;
    line-height: 146.69%;
}
.bd-paragraph-wrapper {
    width: 80%;
}
.bc-paragraph {
    margin: 0px;
    color: #9D9E9F;
    font-weight: 500;
    font-size: 18px;
    line-height: 146.69%;
}
.bc-text-wrapper {
    width: 80%;
}
.bc-img-wrapper{
    width: 20%;
}
.img-fig {
    width: 100%;
    object-fit: contain;
}
.eye {
    display: flex;
}
.eye > p {
    margin: 0px;
}
.bc-stats {
    display: flex;
    color: #A8A6A6;
    justify-content: space-between;
    width: 25%;
    margin: 15px 0px;
}
.bc-stats > p {
    margin: 0px;
}
.blog_title:hover {
    color: #f79918;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .bc-header-wrapper > h3{
    font-size: 14px;
    font-weight: 600;
    }
    .bc-paragraph {
        font-size: 12px;
    }
    .bc-stats {
        margin: 5px 0px;
        width: 50%;
        display: flex;
        align-items: center;
    }
    .bc-stats > p {
        font-size: 12px;
    }
    .bc-stats > div {
        font-size: 12px;
    }
    .bc-img-wrapper{
        width: 40%;
    }
    .eye {
        display: flex;
        align-items: center;
    }
    .eye-icon {
        width: 22px;
        height: 22px;
    }
    .eye > p {
        margin: 0px 3px;
    }
}